main{
display: flex;
flex-wrap: wrap;    
}
header{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
section{
    display: flex;
    width: 100vw;
    flex-direction: column;
}
footer{
    display: flex;
    width: 100vw;
    justify-content: center;
}
nav{
    display: flex;
    width: 80vw;

}
nav ul{
display: flex;
    justify-content: space-around;
    width: 100%;
}
nav ul li{
    list-style: none;
}
h3{
    display: flex;
    justify-content: center;
}
section div{
    display: flex;
    justify-content: space-between;

}
    